<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>stackOverflow-lite</title>
</head>
<body>
  <h1>hello there!</h1>
  <div>
    <div class="header-wrapper">
      <div class="logo"></div>
      <div class="header-caption"></div>
      <div class="header-cta"></div>
    </div>
    <div class="signup-wrapper"></div>
  </div>
  <div class="client-brands"></div>
  <div class="what-we-do">
    <div class="about-us">
      <div></div>
      <div></div>
    </div>
    <div class="about-us-img"></div>
  </div>
  <div class="footer">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</body>
</html>
